<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Histórico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/historico_css.css" />
  </head> 
<body> 
    <div class="header">
        <a href="/" class="logo">MySpendings</a>
        <div class="header-right">
          <a href="/">Início</a>
          <a class="active" href="#historico">Histórico</a>
          <a href="/exibir_sobre">Sobre</a>
          <a href="/logout">Sair</a>
        </div>
    </div>

    <br><h1 class="titulo">Histórico</h1>

    <div class=galeria>
        <div class=mes>
                <h2>Agosto 2019</h2>
                <h6 class="valores">Total Renda: </h6><h6 class="valores">400</h6><br>
                <h6 class="valores">Total Gasto: </h6><h6 class="valores">369,5</h6>
        </div>

        <div class=mes>
                <h2>Julho 2019</h2>
                <h6 class="valores">Total Renda: </h6><h6 class="valores">350</h6><br>
                <h6 class="valores">Total Gasto: </h6><h6 class="valores">200</h6>
        </div>

        <div class=mes>
                <h2>Junho 2019</h2>
                <h6 class="valores">Total Renda: </h6><h6 class="valores">400</h6><br>
                <h6 class="valores">Total Gasto: </h6><h6 class="valores">410</h6>
        </div>


    </div>

</body>