<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Sobre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/static/sobre_css.css" />
  </head>
<body>  
    <div class="header">
        <a href="/" class="logo">MySpendings</a>
        <div class="header-right">
          <a href="/">Início</a>
          <a href="/exibir_historico">Histórico</a>
          <a class="active" href="#sobre" >Sobre</a>
          <a href="/logout">Sair</a>
        </div>
      </div>
      
      <div class="container">
        <br>
        <h1 class="titulo">Sobre Nós</h1><br>
        <p>Somos alunos do curso técnico em informática do IFC – Blumenau e compomos uma equipe de um trabalho da disciplina Projeto Integrador, ministrada pelos professores Hylson Vescovi e Deivis Frainer. Nosso intuito com esse projeto é substituir o método manual de gerenciamento de finanças, por um software que visa mais rapidez e praticidade nesta importante tarefa.</p>
        <p>Sabe-se que, atualmente, o controle de gastos pessoais é um ato que está se tornando muito comum às pessoas e famílias. Com esta prática, é possível equilibrar as finanças e ter mais tranquilidade e conhecimento sobre em qual situação ela se encontra, e como exatamente seu dinheiro está sendo gasto.</p> 
        <p>Conquanto, é muito comum as pessoas gerenciarem suas finanças de forma manual, anotando e calculando todos os gastos mensais e comparando-os com o que elas recebem (salário, bolsas, pensão).</p>
        <p>A partir desta observação, propõe-se o presente sistema web. Com um sistema online, o controle financeiro pessoal será dado de forma mais simples, rápida e organizada, permitindo um melhor aproveitamento do tempo e recursos financeiros dos usuários. Além disso, a construção e desenvolvimento do projeto permitiram a prática e aproveitamento de conteúdos aprendidos nas disciplinas presentes no curso técnico.</p>  
        <p><i>Camila e Leandro</i></p>
        
      </div>
</body>
</html> 